summarise_test_aa.txt
summarise_test_n.txt
summarise_test_j.txt
extract_test_out.fasta
imgt_germlines.fasta
C265
test_Cluster265_germlines_g_j.fasta
test_Cluster265_germlines_germ_of.fasta
test_Cluster265_germlines_germ_ocf.fasta
test_Cluster265_germlines_germ_oicf.fasta
test_Cluster265_germlines_cj.fasta